* {
    font-family: Arial, sans-serif;
}

html {
    font-size: 1rem;
}

body {
    background-color: azure;
}

#container {
    display: flex;
    width: 100vw;
    margin-top: 15px;
}

aside {
    width: 25vw;
    border-right: 5px ridge dimgray;
}

main {
    width: 75vw;
    padding: 35px 45px 40px;
}

#patient-info {
    float: left;
}

#comment-list {
    float: left;
}